    <!-- Contact Section -->
    <section id="introduction" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>La Poterie du Vexin c'est quoi ?</h2>
                <p>

                  Depuis 2007, la Poterie du Vexin est un atelier de
                  poterie ou Pascale Garrigues pratique et enseigne la
                  poterie au tour. Elle y crée ces propres poteries
                  utilitaires et/ou décorative, puis y enseigne la
                  poterie au tour.
                </p>
                   
                <h3>
                Ventes de Poteries
                </h3>
                <p>

                  Choisissez parmis les pièces mise en vente, ou
                  commander la réalisation de poteries correspondant à
                  vos envies et besoins. Plus d'information sur la
                  page <a href="FIXME">Vente de Poteries</a>

                </p>

                <h3>
                  Cours et Stages de Poterie au Tour
                </h3>

                <p>
                  Je donne aussi des cours de poterie hebdomadaires,
                  ainsi que des stages de poterie au tour. Visitez la
                  pages des <a href="FIXME">Cours et Stages</a> pour plus d'information.
                </p>
                
            </div>
        </div>
    </section>
    

    <section id="contact" class="content-section text-center">
      <div class="contact-section">
        
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                <p>
                 Email : <a href="mailto:{{ site.email }}" style="color:#000">{{ site.email }}</a><br/>
                 Téléphone : 06 01 71 90 31<br/>
                 Facebook : <a href="https://fr-fr.facebook.com/lapoterieduvexin"  style="color:#000">lapoterieduvexin</a>

            </div>
        </div>
      </div>
    </section>
    

    <section id="Adresse" class="content-section container text-center">
        
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Ouverture de l'atelier</h2>
                <p>
                  L'atelier est ouvert au public le <br/><b>jeudi, vendredi et dimanche de 15h à 19h</b>.<br/>
                  Contactez moi au 06 01 71 90 31 pour me prévenir de votre visite.
                </p>
            </div>
        </div>
    </section>

    

    <section id="Adresse" class="content-section container text-center">
        
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Venir à l'Atelier</h2>
                <p>
                  L'atelier est situé sur les bords de seine à 10 minutes des Andelys, dans l'Eure (27).
                </p>
                <p>
                  63 rue de Voie<br/>
                  27430 Muids
                </p>
            </div>
        </div>
    </section>


<iframe
  width="100%"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD6OEnoMZ4DUD_532BzYyPY9TzQkOoVxe0&q=63+rue+de+Voie+27430+Muids" allowfullscreen>
</iframe>

